* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*register*/

.wrapper {
    width: 500px;
    height: 656px;
    border: black solid 1px;
    margin: auto;

}

.register_title {
    text-align: center;
    margin-top: 52px;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;

}
.register_title_green {
    margin-left: 27px;
    color:#46A358 ;
}
.enter_email,.alternative_register {
    text-align: center;
    margin-top: 40px;

}
.register_field {
    display: block;
    margin: 16px auto ;
    width: 300px;
    border: #EAEAEA solid 1px;
    border-radius: 5px;
    height: 40px;
    padding-left:16px;

}

.register_button {
    display: block;
    margin: 41px auto;
    width: 300px;
    height: 40px;
    background-color: #46A358;
    color:#FFFFFF ;
    line-height: 16px;
    border-radius: 5px;

}

.register_use_sochial {
    text-decoration: none;
    display: block;
    margin:15px auto;
    height: 40px;
    width: 300px;
    border: #EAEAEA solid 1px;
    border-radius: 5px;
    text-align: center;
    padding: 0 15px 0 15px;


}
.sochial_icon {

    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;

}

/*index*/

a {
    display: inline-block;
}
header {
    padding-top: 30px;
    margin-bottom: 12px;

}
.container {
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    gap: 50px;
}
header nav a{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;

}

header .logo{
    margin-bottom: 17px;
}

header .login {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
header .login:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/Logout.svg");
    margin-right: 4px;
}

header nav li:after {
display: block;
    width: 0 ;
    content: "";
    background-color: #46A358;
    height: 3px;
    margin-top: 25px;
    transition: 0.4s;
}
header nav li:hover:after {
    width: 100%;
}

/* welcome to greenshop section */



.welcome_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding-left: 43px;
}


.welcome_article {
    max-width: 557px;
    padding-bottom: 68px;

}
.invite {
    margin-bottom: 7px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}
.slogan  {

    font-weight: 900;
    font-size: 66px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;

}
.green_slogan_part {
    color: #46a358;

}
.about_shop_short {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}
.shop_now {
    padding: 11px 27px 9px 26px ;
    background: #46A358;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;


}

.welcome_section_img {
    max-width: 507px;
}

/*product sections */


.product .container {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.left_side {
    margin-right: 50px;
    background-color:  #FBFBFB;

}
.product h3 {

    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
  padding-left: 18px;
    padding-top: 14px;
    margin-bottom: 25px;

}
.product ul{
    margin-bottom: 377px;

}

.product ul li {

    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    margin-bottom: 15px;


}

.product ul li a{
text-decoration: none;
padding-left: 30px;
    color: #3d3d3d;


}

.product ul li a:hover {
color: green;
}

.product .left_side {
    max-width: 310px;

}

.product .right_side {
    max-width: 840px;


}

.product .product_sort{
    display: flex;
justify-content: space-between;



}

.product .product_sort ul{
    display: flex;
gap: 37px;
    margin-bottom: 17px;


}


.main_product_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.main_product_items article {
    max-width: 250px;
    background-color:#FBFBFB;




}
.main_product_items article a{
    text-decoration: none;
    color:  #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;

}

